services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=helix_admin
      - POSTGRES_PASSWORD=biological_secrecy_key
      - POSTGRES_DB=helix_core_db
    ports:
      - "5432:5432"

volumes:
  postgres_data:
